// Keep the extension as HTML for syntax colouring

document.write('\
        <script src="src/JS/__frameworks/konva-v7.0.3.js" ></script>\
\
        <script src="src/JS/filehandler/formats.js" ></script>\
        <script src="src/JS/filehandler/fileformat_superclass.js" ></script>\
        <script src="src/JS/filehandler/boxselector.js" ></script>\
\
        <script src="src/JS/filehandler/queuer.js" ></script>\
        <script src="src/JS/filehandler/markerdata.js" ></script>\
        <script src="src/JS/filehandler/formats/pedfile.js" ></script>\
        <script src="src/JS/filehandler/formats/allegro.js" ></script>\
        <script src="src/JS/filehandler/formats/genehunter.js" ></script>\
        <script src="src/JS/filehandler/formats/simwalk.js" ></script>\
        <script src="src/JS/filehandler/formats/merlin.js" ></script>\
\
        <script src="src/JS/mode/modetracker.js" ></script>\
\
        <script src="src/JS/mode/graph/graph_draw.js" ></script>\
        <script src="src/JS/mode/graph/levelgrid.js" ></script>\
        <script src="src/JS/mode/graph/graphicslevelgrid.js" ></script>\
        <script src="src/JS/mode/graph/famgroupspacing.js" ></script>\
        <script src="src/JS/mode/graph/fancygraphicsplacement.js" ></script>\
\
        <script src="src/JS/iofuncs/keyboard.js" ></script>\
        <script src="src/JS/iofuncs/mousestyle.js" ></script>\
        <script src="src/JS/iofuncs/mousewheel.js" ></script>\
        <script src="src/JS/iofuncs/mouseresize.js" ></script>\
        <script src="src/JS/iofuncs/serialparse.js" ></script>\
\
        <script src="src/JS/cssfuncs/dialog/utility.js" ></script>\
        <script src="src/JS/cssfuncs/dialog/message_box.js" ></script>\
\
        <script src="src/JS/userconfig/useropts.js" ></script>\
        <script src="src/JS/userconfig/settings.js" ></script>\
\
        <script src="src/JS/window/backgroundvid.js" ></script>\
\
        <script src="src/JS/cssfuncs/mainpage/mainpagehandler.js" ></script>\
        <script src="src/JS/cssfuncs/mainpage/mainbuttonactions.js" ></script>\
        <script src="src/JS/cssfuncs/rangemarker/indexmode.js" ></script>\
        <script src="src/JS/cssfuncs/buttonmodes/sub_bottom.js" ></script>\
        <script src="src/JS/cssfuncs/buttonmodes/sub_tools.js" ></script>\
        <script src="src/JS/cssfuncs/buttonmodes/buttonmodes_wrapper.js" ></script>\
\
        <script src="src/JS/cssfuncs/tutorial/tutorialpage.js" ></script>\
        <script src="src/JS/cssfuncs/tutorial/tutorialactions.js" ></script>\
        <script src="src/JS/cssfuncs/tutorial/tutorial.js" ></script>\
        <script src="src/JS/cssfuncs/tutorial/buttontutorial.js" ></script>\
        <script src="src/JS/cssfuncs/tutorial/usertutorials.js" ></script>\
        <script src="src/JS/cssfuncs/tutorial/videotranscript.js" ></script>\
\
        <script src="src/JS/globals.js" ></script>\
\
        <script src="src/JS/pedigree/person.js" ></script>\
        <script src="src/JS/pedigree/allele.js" ></script>\
        <script src="src/JS/pedigree/familymapops.js" ></script>\
        <script src="src/JS/pedigree/uniquegraphops.js" ></script>\
\
        <script src="src/JS/mode/haplo/slider/slider_handler.js" ></script>\
        <script src="src/JS/mode/haplo/slider/marker_slider.js" ></script>\
\
        <script src="src/JS/graphics/kinetic_graphics.js" ></script>\
        <script src="src/JS/graphics/global_styles.js" ></script>\
\
        <script src="src/JS/mode/selection/selection_graphics.js" ></script>\
        <script src="src/JS/mode/selection/selection_mode.js" ></script>\
        <script src="src/JS/mode/selection/selection_action.js" ></script>\
\
        <script src="src/JS/mode/haplo/haplomode.js" ></script>\
        <script src="src/JS/mode/haplo/haplomode_events.js" ></script>\
        <script src="src/JS/mode/haplo/alignment.js" ></script>\
\
        <script src="src/JS/mode/pedcreate/familyDraw.js" ></script>\
        <script src="src/JS/mode/pedcreate/personDraw.js" ></script>\
        <script src="src/JS/mode/pedcreate/linedrawOps.js" ></script>\
        <script src="src/JS/mode/pedcreate/selectnodes.js" ></script>\
        <script src="src/JS/mode/pedcreate/matelineDraw.js" ></script>\
        <script src="src/JS/mode/pedcreate/offspringDraw.js" ></script>\
\
        <script src="src/JS/mode/haplo/blocks/assignhgroups.js" ></script>\
        <script src="src/JS/mode/haplo/blocks/haploblock_frontend.js" ></script>\
        <script src="src/JS/mode/haplo/blocks/haploblockformat.js" ></script>\
        <script src="src/JS/mode/haplo/blocks/colors.js" ></script>\
\
        <script src="src/JS/init/init.js" ></script>\
        <script src="src/JS/init/init_graph.js" ></script>\
        <script src="src/JS/init/haplopedprops.js" ></script>\
\
        <script src="src/JS/resolvers/flow_resolver.js" ></script>\
        <script src="src/JS/resolvers/descent_resolver.js" ></script>\
        <script src="src/JS/resolvers/astarpath_resolver.js" ></script>\
        <script src="src/JS/resolvers/astar_handler.js" ></script>\
\
        <script src="src/JS/mode/haplo/dos/dos.js" ></script>\
        <script src="src/JS/mode/haplo/dos/render_dos.js" ></script>\
\
        <script src="src/JS/mode/homology/homology_selection.js" ></script>\
        <script src="src/JS/mode/homology/homology_buttons.js" ></script>\
        <script src="src/JS/mode/homology/homology_mode.js" ></script>\
        <script src="src/JS/mode/homology/homology_plot.js" ></script>\
        <script src="src/JS/mode/homology/homology_initial_allele_scan.js" ></script>\
\
        <script src="src/JS/test.js" ></script>\
\
        <script src="src/JS/benchmarking/bench_allele.js" ></script>\
        <script src="src/JS/benchmarking/bench_person.js" ></script>\
        <script src="src/JS/benchmarking/bench_stopwatch.js" ></script>\
        <script src="src/JS/benchmarking/tree_generator.js" ></script>\
        <script src="src/JS/benchmarking/benchmark.js" ></script>\
\
        <script src="src/JS/window/window.js" ></script>\
        <script src="src/JS/window/resizing.js" ></script>\
\
');