#container {
    background-color:#F9F6F2;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

#buttons {
	position:absolute;
	left:0px;
	top:0px;
	z-index:10;
}

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 275px; 
font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 
300; line-height: 32px; margin: 0 0 72px; text-align: center; }

p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; 
line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }
