.cornerspace {
  position: absolute;
  left: 8px;
  bottom: 8px;
  font-size: 0.9em;
}

.upper {
  left:unset;
  right:45px;
}

.cornerspace a {
  color: #000;
  text-decoration: none;
  font-style: italic;
  text-align: left;
  font-family: monospace;
  background: #838383;
  border-radius: 5px;
  padding: 1.5px;
}

.cornerspace a:hover {
  background: #b97f7f;
}


#bgvid {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    object-fit: fill;
    filter: blur(10px);
}



#container {
  background-color:#F9F6F2;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

#buttons {
	position:absolute;
	left:0px;
	top:0px;
	z-index:10;
}

/*#homology_buttons,#index_class {
	position:fixed;
	right:0px;
	z-index:10;
	font-size: 10px;
	font-family: 'Arial';
	color: black;
	padding: 3px;
	background-color: white;
	border-radius: 8px;
	border: 2px solid black;
	display: none;
}
*/
#homology_buttons {
  display: none;
  position: fixed;
  bottom: 2px;
	right:  0px;
  width:200px;
  text-align: center;
}

#homology_buttons table {
  width:100%;
}

#homology_buttons select {
  border-radius: 5px;
  width: 100%;
}

#homology_buttons input[type=number] {
  width:inherit;
}

#homology_buttons input[type=button] {
  width: 100%;
}

#homology_buttons label {
  width:inherit;
}


#index_class {
  display:none;
	top:55%;
  right:0px;
}

/*
#homology_buttons,#index_class input,select {
	background-color: gray;
	color: white;
	border-radius: 8px;
	border-color: red;
	font-size: 10px;
	font-family: 'Arial';
	text-align: left;
}


#hom_exit,#index_exit {
	position:absolute;
	left:-10px;
	top:-10px;
	background-color: gray;
	color: white;
	border: 2px solid black;
	border-radius: 6px;
}*/


.numbers,.not-numbers {
	color: black;
	border: 2px solid gray;
	border-radius: 8px;
	font-size: 10px;
	font-family: 'Arial';
	padding: 3px;
	width: 120px;
	display: inline-block;
}

/* Can't style dropdown datalist...:
	http://stackoverflow.com/questions/10062414/is-it-possible-to-style-the-drop-down-suggestions-when-using-html5-datalist;
*/


.numbers input[number] {
	border: 1px solid black;
	width: 40px;
	text-align: center;
}

.not-numbers input[list]{
  font-size: 1.3em;
	width:102px;
}

.not-numbers input[type=button] {
  width:100%;
}


/* Modal Dialogs */
#modal_bg {
  position: fixed;
  top: 0px; left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.8;
/*  background: #ccc;*/
  background-color: white;
  z-index: 98;
  display: none;
}

.input_props {
  background: #c0ccc0;
  max-width: 350px;
/*  min-height: 58px;  */
/*  min-width: 150px;  */
  border: 4px solid black;
  border-radius: 10px;
  margin: 10px;
  z-index: 99;
  position: absolute;
  /*left: 40%;*/
  /*top: 40%;*/
  box-shadow: 5px 5px 5px #888;
}

#selection_tools {
  display:none;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 120px;
}

#message_props {
  display:none;
  left:40%;
  top: 40%;
  min-height: 65px;
  z-index: -99;
}

#message_props .messages {
  /*! border-radius: 12px 12px 0px 0px; */
}

#message_props .messages h3 {
  text-shadow: 0 0 white;
  width: 180px;
}

#save_and_close {
  display:none;
  position:fixed;
  right: 10px;
  bottom: 10px;
  width: 120px;
  z-index: 80;
}


.input_props .messages {
  border: 4px solid black;
  /*! border-radius: 15px 15px 0px 0px; */
  background: black;
  height: 20px;
  text-align: left;
  /*! margin-top: -5px; */
  color: white;
  position: relative;
}

.input_props .messages h3 {
  margin-top: -1px;
  margin-left: 5px;
}

.input_props .messages p {
  margin-top: 10px;
  color: black;
  text-align: center;
}

.input_props .messages #message_inputrow {
  margin-top: 16px;
}

.input_props .messages #message_input {
  background: white;
  border-radius: 5px 5px 5px 10px;
  color: black;
  border: 2px solid black;
  margin-top: -2px;
}



/* Button top right */
.input_props .toprightclose{
  position: absolute;
  right: 0px;
  top: 5px;
  background: #dd5500;
  border: 1px solid #555;
  border-radius: 10px;
  margin-top: -6px;
  color: white;
  
}

#group_delete {
  position: absolute;
  right: 35px;
  top: 5px;
  border-width: 1px;
  background: #dd5500;
  border-radius: 10px;
  border-color: black;
}

#pers_delete {
  position: absolute;
  right: 35px;
  top: 5px;
  border-width: 1px;
  background: #dd5500;
  border-radius: 10px;
  border-color: black;
}

#bench_props.input_props {
  display: block;
  left:35%;
  top:30%;
}

#group_props.input_props {
  display:none;
  top:30%;  
  left:40%;
}

#group_props table td {
  width: inherit;
}

#family_props.input_props {
  display: none;
  z-index: -2;
}

#person_props.input_props  {
  display:none;
  left:40%;
}

#person_props table td {
  width: inherit;
}

#person_props textarea {
  width:95%;
  border-radius: 5px;
}

/* Except custom submit, which is below */
.input_props #message_buttonsrow {
  position: relative;
  bottom: 100%;
  left: 10%;
  /*! color: white; */
}

.input_props #message_buttonsrow input {
  color: white;
  border-width: 1px;
  background: #dd5500;
  border-radius: 10px;
  border-color: black;
  box-shadow: 3px 3px 3px #888;
}

.input_props #message_submit {
  /*! border-width: 1px; */
  background: #dd5500;
  border-radius: 10px;
  /*! border-color: black; */
  box-shadow: 3px 3px 3px #888;
  color: white;
  border: 1px solid #555;
}

.input_props table td {
  width: 50%;
}

.input_props table.bench_input tr td:first-child {
  font-size:small;
  width: auto;
}

#bench_close {
  margin-right: 35px;
}

/* both of these needed */
.input_props table.bench_input tr td:last-child {  
  width: auto; 
  padding-right: 15px;
}
.input_props table.bench_input tr td:last-child input {  
  width: 50px;
  text-align:center;
}


.input_props table td:first-child {
  text-align: right;
}


.input_props table input[type=button],button {
  border-radius: 5px;
  border: 2px solid #222;
  width: 115px;
  /*min-width: 70px;*/
}

.input_props table input[type=button]:hover,button:hover {
  background-color: #333;
  color:#eee;
}

.input_props h3 {
  font-family: "Ubuntu Mono", monospace;
  font-style: italic;
  font-size: 0.8em;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-top: -18px;
  /*! text-shadow: 
    0px -1px white,
   -1px  0px white,
    1px  0px white,
    0px  1px white; */
}


.input_props table td:last-child {
  text-align: left;
  color: black;
}


.input_props input {
  /*max-width: 150px;*/
}

.status {
  display: none;
  font-size: 10pt;
  background: #333;
  border: 1px solid black;
  border-radius: 1px 1px 11px 11px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 4px;
  z-index: 99;
  box-shadow: 5px 5px 5px #888;
}

.status div {
  display: inline-block;
  color: white;
  margin-top: 0px;
}

.status .reflect {
  background: #4fd662;
  color: black;
  border-radius: 0px 0px 0px 10px;
  margin-top: -5px;
  margin-left: 0px;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 0px;
}

.status:not(.reflect) {
  padding-right: 10px;
}



input.deselector {
  position: relative;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
}

input.deselector ~ div {
  pointer-events: none;
  opacity:0.5;
}

input.deselector:checked ~ div {
  opacity:1; 
  pointer-events: auto;
}

input.switch:empty {
  margin-left: -999px;
}

input.switch:empty ~ label {
  position: relative;
  float: left;
  line-height: 1.6em;
  text-indent: 4em;
  margin: 0.2em 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 3.6em;
  background-color: #66f;
  border-radius: 0.3em;
  box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch:empty ~ label:after {
  width: 1.4em;
  top: 0.1em;
  bottom: 0.1em;
  margin-left: 0.1em;
  background-color: #fff;
  border-radius: 0.15em;
  box-shadow: inset 0 -0.2em 0 rgba(0, 0, 0, 0.2);
}

input.switch:checked ~ label:before {
  background-color: #f66;
}

input.switch:checked ~ label:after {
  margin-left: 2em;
}

input.switch:checked ~ label span.first {display: none;}
input.switch:checked ~ label span.second {display: inline;}
input.switch ~ label span.first {display: inline;}
input.switch ~ label span.second {display: none;}




body { background-color: #cdcdcd;}

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 275px; 
font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 
300; line-height: 32px; margin: 0 0 72px; text-align: center; }

p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; 
line-height: 24px; margin: 0 0 24px; }