/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  src: url(fonts/hMqPNLsu_dywMa4C_DEpY44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-007F; /*basic alphanumeric range only */
}
