.tutorcontainer {
	position: fixed;
	width: 99%;
	height: 99%;
	padding: 0;
}

.tutor {
	position:relative;
	z-index: 24;
	margin: auto;
	width: 60%;
	top: 20%;
	border: 2px solid #6b6969;
	border-radius: 10px;
	background: yellow;
	padding: 10px;
	box-shadow: 20px 20px 9px 0px rgba(0,0,0,0.2);
}

.tutor .videocontainer_parent {
	position: relative;
}

.tutor .videocontainer {
	position: relative;
}

.tutor #vidplay {
	position:absolute;
	bottom: 0%;
	left: 5%;
	font-size: 2em;
	transform: translateX(-50%) translateY(-70%);
	opacity: 0.5;
	z-index: 9;
}

.tutor .videobuttons {
	margin-bottom: -1.6em;
}

.tutor .videobuttons button {
	width: 50px;
}

.tutor .videobuttons label {
	position:absolute;
	right:10px;
	font-size: 0.7em;
	margin-top: -0.5em;
}

.tutor .tutorbuttons div {
	position:absolute;
	top:-1px; 
	right:20px;

	background:
		url("../images/tutor_arrow.png")
		no-repeat;
	background-size: 100% 100%;
	width: 18px;
	height: 18px;
}

.tutor .tutorbuttons div#tutor_exit {
	right: -14px;
	top:   -14px;
	background:
		url("../images/tutor_exit.png")
		no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
}

.tutor .tutorbuttons div#tutor_back {
	margin-right: 24px;
	transform: scaleX(-1);
}

.tutor .tutorbuttons div#tutor_forw {
	margin-right: 0px;
	transform: scaleX(1);
}



.tutor .tutorbuttons div#pageno {
	left: 0px;
	right: 0;
}



.tutor h2 { /* Title */
  	font-family: "Ubuntu", sans-serif;
  	font-size: 1.3em;
	  font-style: italic;
  	color: blue;
  	font-weight: initial;
  	line-height: initial;
  	margin-top: -0.4em;
  	margin-bottom: 0.5em;
}

.tutor .textholder {
	min-height: 5em;
}

.tutor h7 { /* Bot text */
  color:blue;
  border-radius: 5px;
  font-size: 0.85em;
  /* opacity: 0.9; */
  z-index: 602;
  font-style: italic;
  /*! margin-top: 5px; */
	/*! height: 200px; */
}

.tutor h6 { /* Top text */
  font-size:1em;
  font-weight: 500;
  color: #222223;
  margin-top: 5px;
  margin-bottom: 3px;
  text-align: left;
}

.tutor img {
	width: 100%;
	height: auto;
}

.tutor video {
	width: 100%;
	height: auto;
	border: 2px solid #222;
	border-radius: 8px;
}