.tutorcontainer {
	position: absolute;
	width: 100%;
	height: 100%;
}

.tutor {
	position:relative;
	z-index: 24;
	margin: auto;
	width: 50%;
	top: 20%;
	border: 2px solid #6b6969;
	border-radius: 10px;
	background: yellow;
	padding: 10px;
	box-shadow: 20px 20px 9px 0px rgba(0,0,0,0.2);
}

.tutor .tutorbuttons div {
	position:absolute;
	top:-1px; 
	right:20px;

	background:
		url("../images/tutor_arrow.png")
		no-repeat;
	background-size: 100% 100%;
	width: 18px;
	height: 18px;
}

.tutor .tutorbuttons div#tutor_exit {
	right: -14px;
	top:   -14px;
	background:
		url("../images/tutor_exit.png")
		no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
}

.tutor .tutorbuttons div#tutor_back {
	margin-right: 24px;
	transform: scaleX(-1);
}

.tutor .tutorbuttons div#tutor_forw {
	margin-right: 0px;
	transform: scaleX(1);
}



.tutor .tutorbuttons div#pageno {
	left: 0px;
	right: 0;
}



.tutor h2 { /* Title */
  	font-family: "Ubuntu", sans-serif;
  	font-size: 1.3em;
  	color: #333;
  	font-weight: initial;
  	line-height: initial;
  	margin-top: -0.4em;
  	margin-bottom: 0.8em;
}

.tutor h7 { /* Bot text */
  	font-family: "Ubuntu", sans-serif;
  	font-size: 0.9em;
  	font-style:normal;
  	line-height: initial;
  	font-weight: 300;
  	color: #333;
  	margin-top: -10px;
  	margin-bottom: 5px;
}

.tutor h6 { /* Top text */
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 0.9em;
	margin: 0 0 24px;
	font-weight: 500;
}

.tutor img {
	width: 100%;
	height: auto;
}