document.write('\
\
        <!-- Grouping Props -->\
        <div id="group_props" class="input_props" >\
          <div class="messages">\
            <h3>Group</h3>\
            <input class="toprightclose" id="group_submit" type="button" value="✓" />\
            <input class="toprightclose" id="group_delete" type="button" value="✘" />\
          </div>\
\
          <table>\
            <tr>\
              <td>Name:</td>\
              <td><input id="group_name" type="text" /></td>\
            </tr>\
            <tr>\
              <td>Colour:</td>\
              <td><input id="group_color" type="color" /></td>\
            </tr>\
          </table>\
       </div>\
\
\
        <!-- Family Props -->\
        <div id="family_props" class="input_props" >\
          <div class="messages">\
             <h3>Family</h3>\
             <input class="toprightclose" id="family_submit" type="button" value="✓" />\
          </div>\
\
          <table>\
             <tr>\
               <td>Fam ID: </td>\
               <td><input id="family_id" type="number" /></td>\
             </tr>\
             <tr>\
               <td>Surname:</td>\
               <td><input id="family_name" type="text" /></td>\
             </tr>\
           </table>\
        </div>\
\
\
        <!-- Person Props http://jsfiddle.net/cysCx/258/ -->\
        <div id="person_props" class="input_props">\
          <div class="messages">\
            <h3>Person</h3>\
            <input class="toprightclose" id="pers_submit" type="button" value="✓" />\
            <input class="toprightclose" id="pers_delete" type="button" value="✘" />\
          </div>\
\
          <table>\
            <tr>\
              <td>ID: </td>\
              <td>\
                <input id="pers_id" type="number" />\
              </td>\
            </tr>\
\
            <tr>\
              <td>Name:</td>\
              <td>\
                <input id="pers_name" type="text" /> </td>\
            </tr>\
\
            <tr>\
              <td colspan="2">\
                <input type="checkbox" id="pers_gender_unknown" class="deselector" />\
               <div>\
                <div style="display:inline;z-index:130">\
                  <input type="checkbox" id="pers_gender" name="pers_gender" class="switch" />\
                  <label for="pers_gender">\
                    <span class="first">Male</span>\
                    <span class="second">Female</span>\
                  </label>\
                </div>\
                </div>\
              </td>\
            </tr>\
\
            <tr>\
              <td colspan=2>\
                <input type="checkbox" id="pers_affect_unknown" class="deselector" />\
                <div>\
                <div style="display:inline;">\
                  <input type="checkbox" id="pers_affect" name="pers_affect" class="switch" />\
                  <label for="pers_affect">\
                    <span class="first">Unaffected</span>\
                    <span class="second">Affected</span>\
                  </label>\
                </div>\
                </div>\
              </td>\
            </tr>\
            <tr>\
              <td>Notes:</td>\
              <td><textarea id="pers_notes" name="pers_notes" rows="3" ></textarea></td>\
            </tr>\
          </table>\
        </div>\
');
